--maxwidth 100
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen same-line
--wrapreturntype preserve
--wrapconditions before-first
--swiftversion 5.0
--allman false
--indent tab
--importgrouping testable-bottom
--commas inline
--disable \
    fileHeader,\
    initCoderUnavailable,\
    markTypes,\
    redundantReturn,\
    redundantType,\
    sortedSwitchCases,\
    unusedArguments,\
    wrapSwitchCases
